aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiosignal==1.3.1
asgiref==3.8.1
asyncio==3.4.3
attrs==24.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cloudscraper==1.2.71
colorama==0.4.6
cryptography==44.0.0
defusedxml==0.8.0rc2
distlib==0.3.9
Django==5.1.5
django-allauth==65.3.1
django-ckeditor==5.0.0
django-cors-headers==4.6.0
django-js-asset==3.0.1
django-storages==1.14.4
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
djoser==2.3.1
fake-useragent==1.5.1
Faker==33.0.0
filelock==3.16.1
frozenlist==1.5.0
git-filter-repo==2.47.0
idna==3.10
loguru==0.7.2
maturin==1.7.4
multidict==6.1.0
mysqlclient==2.2.7
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
pipenv==2024.4.0
platformdirs==4.3.6
propcache==0.2.0
psycopg2==2.9.10
pycparser==2.22
PyJWT==2.10.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-socks==2.5.3
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
setuptools==75.8.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.29.1
websockets==12.0
websockets_proxy==0.1.3
win32-setctime==1.1.0
yarl==1.17.1
